/* Botones buzz */
.buzz-option:active, .buzz:active {
   opacity: 1;
}

.red-buzz {
   background-color: #f23e2f;
   opacity: .5;
}

.blue-buzz {
   background-color: #029be0;
   opacity: .5;
}

.orange-buzz {
   background-color: #ffa538;
   opacity: .5;
}

.green-buzz {
   background-color: #00b75a;
   opacity: .5;
}

.yellow-buzz {
   background-color: #fcf481;
   opacity: .5;
}

.selected-button {
   opacity: 1;
   color: white;
   transition: .2s ease-out;
}

:not(.selected-button) {
   transition: .3s ease-out;
}