:root {
   --primary-100: #FF3333;
   --primary-200: #ff6e5e;
   --primary-300: #ffdabd;
   --accent-100: #FF6666;
   --accent-200: #8f0015;
   --text-100: #FFFFFF;
   --text-200: #e0e0e0;
   --bg-100: #292929;
   --bg-200: #404040;
   --bg-300: #505050;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   text-decoration: none;
}

body {
   background-color: var(--bg-300);
   color: var(--text-100);
}

header {
   width: 100%;
   height: 80px;
   padding: 1rem 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bg-100);
   color: var(--text-100);
}
.favicon {
   display: flex;
   gap: 18px;
}
.favicon img{
   flex-flow: row nowrap;
   width: 32px;
}
.favicon h1{
   font-size: 2rem;
}

header a {
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 8px;
   font-weight: bold;
   color: var(--text-100);
   border: 1px solid var(--text-100);
   border-radius: 12px;
   padding: 1rem;
}

header a:hover {
   background-color: var(--text-100);
   color: var(--bg-100);
}

header button {
   padding: 12px 6px;
   border-radius: 12px;
}

.connection-status {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem;
   font-size: 2rem;
   transition: .2s ease-in;
}

/* MANDOS */
.controller {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   padding: 2rem 2rem 6rem;
   border: 2px var(--primary-100) dashed;
   border-radius: 200px 200px 180px 180px;
   font-weight: bold;
   background-color: var(--bg-200);
}

.controller button {
   font-weight: bold;
   font-size: medium;
}

.controller h2 {
   font-size: 1.5rem;
}

main {
   height: 80hv;
}

main section {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.buzz {
   width: 170px;
   aspect-ratio: 1/1;
   border: 3px solid black;
   border-radius: 100%;
   margin-bottom: 1em;
}

.buzz-option {
   width: 170px;
   aspect-ratio: 6/2;
   border: 3px solid black;
   border-radius: 12px;
   margin-bottom: 1em;
}

footer {
   position: absolute;
   overflow: hidden;
   bottom: 0;
   width: 100%;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--bg-100);
   padding: 2em 5em;
}

footer * {
   color: var(--text-100);
   text-decoration: none;
}

footer a {
   font-style: italic;
}

footer a:hover {
   color: var(--primary-200);
   transition: .5s ease-in-out;
}

@media screen and (max-width:680px) {
   header{
      padding: 1rem;
   }
   .favicon h1{
      font-size: 1.5rem;
   }
   main{
      visibility: hidden;
      transition: none;
   }
   main::after{
      content: "Please go full screen.";
   }
   footer{
      width: 100vw;
   }
}